* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#mainContainer {
  width: 100%;
  height: 1000px;
  font-family: "Roboto", sans-serif;
  background-color: white;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 30px;
}
#headerdiv {
  width: 100%;
  background-color: white;
  height: 30px;
  background-color: #b8c6d9;
}
#headerdiv #right {
  position: absolute;
  right: 0;
  top: 0;
}
#contentContainer {
  width: 99%;
  height: 980px;
  margin: auto;
  margin-top: 10px;
}
.itemContainer {
  width: 80%;
  height: 280px;
  margin: auto;
  display: flex;
  margin-top: 24px;
}
.item {
  width: 33%;
  margin-top: 20px;
  margin-right: 25px;
  height: 240px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightgray;
}
.item img {
  width: 100%;
  height: 240px;
  border-radius: 5px;
}
footer {
  height: 100px;
  background-color: #b8c6d9;
  border-radius: 10px 10px 0 0;
}
footer img {
  margin-top: 15px;
  margin-left: -30px;
  height: 80px;
}
svg {
  width: 50px;
  margin-right: 20px;
  align-self: right;
  fill: lightgray;
  position: absolute;
  right: 10px;
}
svg:hover {
  fill: #4267b2;
}

#box1 a {
  position: relative;
  top: -135px;
  left: 150px;
}
#box2 a {
  position: relative;
  top: 110px;
  left: 125px;
}
#box3 a {
  position: relative;
  top: -135px;
  left: 165px;
  color: green;
}
